# Konfiguration für einen Container

# Stack
STACK="vaultwarden"
# Überspringen, setzte hierfür SKIP="true"
# SKIP="true"
# Pfad, der gesichert werden soll
RC_SOURCE_FOLDER="/volume1/Backup/Milos/containers/$STACK"
# Remote-Stack
RC_REMOTE_STACK="$STACK"
# Zielpfad
RC_REMOTE_FOLDER="/var/local/data/clones/$STACK"
# wenig Ausnahmen definieren, um das Risiko von Fehlkonfigurationen zu vermeiden
RC_EXCEPTIONS=(--exclude=@eaDir/ --exclude=.DS_Store)
# Weitere Parameter, siehe https://rclone.org/flags/
RC_PARAMS="-v --stats-one-line --sftp-md5sum-command=/usr/bin/md5sum --skip-links"

